# Import air data

In [1]:
import dask
import re
import dask
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [2]:
#read & preprocess files
#reserve
df_air_reserve=pd.read_csv('~/Desktop/ml/restaurant_vistor/air_reserve.csv')
df_air_reserve['visit_date']=df_air_reserve['visit_datetime'].str.split().str[0]
df_air_reserve['visit_time']=df_air_reserve['visit_datetime'].str.split().str[1]
df_air_reserve['reserve_date']=df_air_reserve['reserve_datetime'].str.split().str[0]
df_air_reserve['reserve_time']=df_air_reserve['reserve_datetime'].str.split().str[1]
# group by store_id & visit_date
df_air_reserve_grouped=df_air_reserve.groupby(['air_store_id','visit_date']).sum()
df_air_reserve_grouped=df_air_reserve_grouped.reset_index()

#store info
df_air_store_info=pd.read_csv('~/Desktop/ml/restaurant_vistor/air_store_info.csv')

#visit
df_air_visit_data=pd.read_csv('~/Desktop/ml/restaurant_vistor/air_visit_data.csv')

#date info
df_date_info=pd.read_csv('~/Desktop/ml/restaurant_vistor/date_info.csv')

In [3]:
# join tables df_air_reserve_grouped, df_air_store_info & df_air_visit_data
df_air=df_air_reserve_grouped.merge(df_air_store_info, left_on='air_store_id', right_on='air_store_id', how='outer')
df_air=df_air.merge(df_air_visit_data, left_on=['air_store_id', 'visit_date'], right_on=['air_store_id', 'visit_date'], how='outer')

# join date_info
df_air=df_air.merge(df_date_info, left_on=['visit_date'], right_on=['calendar_date'], how='left')

df_air.drop(columns='calendar_date', inplace=True)

In [5]:
df_air.drop(columns='calendar_date', inplace=True)

In [6]:
df_air.head(10)

,air_store_id,visit_date,reserve_visitors,air_genre_name,air_area_name,latitude,longitude,visitors,day_of_week,holiday_flg
0,air_00a91d42b08b08d9,2016-10-31,2.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,26.0,Monday,0.0
1,air_00a91d42b08b08d9,2016-12-05,9.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,33.0,Monday,0.0
2,air_00a91d42b08b08d9,2016-12-14,18.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,30.0,Wednesday,0.0
3,air_00a91d42b08b08d9,2016-12-17,2.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,17.0,Saturday,0.0
4,air_00a91d42b08b08d9,2016-12-20,4.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,37.0,Tuesday,0.0
5,air_00a91d42b08b08d9,2017-02-18,9.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,18.0,Saturday,0.0
6,air_00a91d42b08b08d9,2017-02-23,12.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,40.0,Thursday,0.0
7,air_00a91d42b08b08d9,2017-03-01,3.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,17.0,Wednesday,0.0
8,air_00a91d42b08b08d9,2017-03-14,4.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,28.0,Tuesday,0.0
9,air_00a91d42b08b08d9,2017-03-21,3.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,28.0,Tuesday,0.0

In [18]:
df_air.shape

(254389, 10)

# Import hpg data

In [ ]:
# reserve & visit data
df_hpg_reserve=pd.read_csv('~/Desktop/ml/restaurant_vistor/hpg_reserve.csv')
df_hpg_reserve['visit_date']=df_hpg_reserve['visit_datetime'].str.split().str[0]
df_hpg_reserve['visit_time']=df_hpg_reserve['visit_datetime'].str.split().str[1]
df_hpg_reserve['reserve_date']=df_hpg_reserve['reserve_datetime'].str.split().str[0]
df_hpg_reserve['reserve_time']=df_hpg_reserve['reserve_datetime'].str.split().str[1]

#store info
df_hpg_store_info=pd.read_csv('~/Desktop/ml/restaurant_vistor/hpg_store_info.csv')

# join tables df_hpg_reserve & df_hpg_store_info
df_hpg=df_hpg_reserve.merge(df_hpg_store_info, on='hpg_store_id', how='outer')

In [20]:
df_hpg.head(10)

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,visit_time,reserve_date,reserve_time,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1,2016-01-01,11:00:00,2016-01-01,09:00:00,NaN,NaN,NaN,NaN
1,hpg_c63f6f42e088e50f,2016-01-08 11:00:00,2016-01-07 14:00:00,1,2016-01-08,11:00:00,2016-01-07,14:00:00,NaN,NaN,NaN,NaN
2,hpg_c63f6f42e088e50f,2016-01-23 18:00:00,2016-01-05 21:00:00,5,2016-01-23,18:00:00,2016-01-05,21:00:00,NaN,NaN,NaN,NaN
3,hpg_c63f6f42e088e50f,2016-01-24 12:00:00,2016-01-23 20:00:00,5,2016-01-24,12:00:00,2016-01-23,20:00:00,NaN,NaN,NaN,NaN
4,hpg_c63f6f42e088e50f,2016-01-28 12:00:00,2016-01-27 19:00:00,1,2016-01-28,12:00:00,2016-01-27,19:00:00,NaN,NaN,NaN,NaN
5,hpg_c63f6f42e088e50f,2016-01-28 12:00:00,2016-01-27 17:00:00,2,2016-01-28,12:00:00,2016-01-27,17:00:00,NaN,NaN,NaN,NaN
6,hpg_c63f6f42e088e50f,2016-02-04 12:00:00,2016-02-03 20:00:00,3,2016-02-04,12:00:00,2016-02-03,20:00:00,NaN,NaN,NaN,NaN
7,hpg_c63f6f42e088e50f,2016-02-05 19:00:00,2016-02-01 19:00:00,3,2016-02-05,19:00:00,2016-02-01,19:00:00,NaN,NaN,NaN,NaN
8,hpg_c63f6f42e088e50f,2016-02-09 12:00:00,2016-02-09 09:00:00,2,2016-02-09,12:00:00,2016-02-09,09:00:00,NaN,NaN,NaN,NaN
9,hpg_c63f6f42e088e50f,2016-02-18 12:00:00,2016-02-17 20:00:00,1,2016-02-18,12:00:00,2016-02-17,20:00:00,NaN,NaN,NaN,NaN

In [25]:
df_hpg.shape

(2000320, 12)

# Compare air & hpg

In [32]:
# check number of stores in each dataframe
print(df_air['air_store_id'].nunique(), df_hpg['hpg_store_id'].nunique())

829 13325

In [37]:
# stores in air but not in hpg
df_air['air_store_id'].to_frame().merge(df_hpg['hpg_store_id'].to_frame(), left_on='air_store_id', right_on='hpg_store_id', how='left').nunique()

air_store_id    829
hpg_store_id      0
dtype: int64

In [38]:
# stores in hpg but not in air
df_air['air_store_id'].to_frame().merge(df_hpg['hpg_store_id'].to_frame(), left_on='air_store_id', right_on='hpg_store_id', how='right').nunique()

air_store_id        0
hpg_store_id    13325
dtype: int64

##### no store intersections!!